<form method="post" action="{{ path('rubro_delete', {'id': rubro.id}) }}" onsubmit="return confirm('Seguro que desea eliminar este rubro?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ rubro.id) }}">
    <button class="btn btn-danger btn-sm">Eliminar</button>
</form>
