{% extends 'base.html.twig' %}

{% block title %}Nuevo Rubro{% endblock %}

{% block body %}
    <h1>Crear nuevo rubro</h1>

    {{ include('rubro/_form.html.twig') }}

    <a class="btn btn-primary btn-sm" href="{{ path('rubro_index') }}">Volver a lista</a>
{% endblock %}
