<form method="post" action="{{ path('ambito_delete', {'id': ambito.id}) }}" onsubmit="return confirm('Seguro que desea eliminar este Ãmbito?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ambito.id) }}">
    <button class="btn btn-danger btn-sm">Eliminar</button>
</form>
