{% extends 'base.html.twig' %}

{% block title %}Ámbitos{% endblock %}

{% block body %}
    <h1>Lista de Ámbitos</h1>
    <a class="btn btn-primary btn-sm" href="{{ path('ambito_new') }}">Agregar Ámbito</a>
    <table class="table">
        <thead>
            <tr>
                <th>Tipoambito</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for ambito in ambitos %}
            <tr>
                <td>{{ ambito.tipoambito }}</td>
                <td>
                    <a class="badge badge-primary" href="{{ path('ambito_show', {'id': ambito.id}) }}">Ver</a>
                    <a class="badge badge-primary" href="{{ path('ambito_edit', {'id': ambito.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No se encontraron ámbitos</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
