{% extends 'base.html.twig' %}

{% block title %}New Ambito{% endblock %}

{% block body %}
    <h1>Create new Ambito</h1>

    {{ include('ambito/_form.html.twig') }}

    <a href="{{ path('ambito_index') }}">back to list</a>
{% endblock %}
