{% extends 'base.html.twig' %}

{% block title %}Crear Ámbito{% endblock %}

{% block body %}
    <h1>Crear Ámbito</h1>

    {{ include('ambito/_form.html.twig') }}

    <a class="btn btn-primary btn-sm" href="{{ path('ambito_index') }}">Volver a lista</a>
{% endblock %}
