{% extends 'base.html.twig' %}

{% block title %}Edit Estadosolicitud{% endblock %}

{% block body %}
    <h1>Edit Estadosolicitud</h1>

    {{ include('estadosolicitud/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('estadosolicitud_index') }}">back to list</a>

    {{ include('estadosolicitud/_delete_form.html.twig') }}
{% endblock %}
