{% extends 'base.html.twig' %}

{% block title %}Lista de Estados{% endblock %}

{% block body %}
    <h1>Lista de Estados de solicitud</h1>
    <a class="btn btn-primary btn-sm" href="{{ path('estadosolicitud_new') }}">Crear nuevo</a>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for estadosolicitud in estadosolicituds %}
            <tr>
                <td>{{ estadosolicitud.nombre }}</td>
                <td>
                    <a class="badge badge-primary" href="{{ path('estadosolicitud_show', {'id': estadosolicitud.id}) }}">Ver</a>
                    <a class="badge badge-primary" href="{{ path('estadosolicitud_edit', {'id': estadosolicitud.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No hay estados disponibles</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
