{% extends 'base.html.twig' %}

{% block title %}Nuevo estado de solicitud{% endblock %}

{% block body %}
    <h1>Crear nuevo estado de solicitud</h1>

    {{ include('estadosolicitud/_form.html.twig') }}

    <a class="btn btn-primary btn-sm" href="{{ path('estadosolicitud_index') }}">Volver a lista</a>
{% endblock %}
