<form method="post" action="{{ path('solicitud_delete', {'id': solicitud.id}) }}" onsubmit="return confirm('Seguro que deseea eliminar esta solicitud?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ solicitud.id) }}">
    <button class="btn btn-danger btn-sm">Eliminar</button>
</form>
