<form method="post" action="{{ path('sectorproductivo_delete', {'id': sectorproductivo.id}) }}" onsubmit="return confirm('Seguro que desea eliminar este sector productivo?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sectorproductivo.id) }}">
    <button class="btn btn-danger btn-sm">Eliminar</button>
</form>
