{% extends 'base.html.twig' %}

{% block title %}Editar sector productivo{% endblock %}

{% block body %}
    <h1>Editar sector productivo</h1>

    {{ include('sectorproductivo/_form.html.twig', {'button_label': 'Editar'}) }}

    <a class="btn btn-primary btn-sm" href="{{ path('sectorproductivo_index') }}">Volver a lista</a>

    {{ include('sectorproductivo/_delete_form.html.twig') }}
{% endblock %}
