{% extends 'base.html.twig' %}

{% block title %}Sectores Productivos{% endblock %}

{% block body %}
    <h1>Sectores Productivos</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for sectorproductivo in sectorproductivos %}
            <tr>
                <td>{{ sectorproductivo.nombre }}</td>
                <td>
                    <a class="badge badge-primary" href="{{ path('sectorproductivo_show', {'id': sectorproductivo.id}) }}">Ver</a>
                    <a class="badge badge-primary" href="{{ path('sectorproductivo_edit', {'id': sectorproductivo.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No hay sectores registrados</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary btn-sm" href="{{ path('sectorproductivo_new') }}">Crear nuevo</a>
{% endblock %}
