{% extends 'base.html.twig' %}

{% block title %}Nuevo Sector Productivo{% endblock %}

{% block body %}
    <h1>Crear nuevo sector productivo</h1>

    {{ include('sectorproductivo/_form.html.twig') }}

    <a class="btn btn-primary btn-sm" href="{{ path('sectorproductivo_index') }}">Volver a lista</a>
{% endblock %}
