<form method="post" action="{{ path('emprendimiento_delete', {'id': emprendimiento.id}) }}" onsubmit="return confirm('Seguro que desea eliminar el emprendimiento?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ emprendimiento.id) }}">
    <button class="btn btn-danger btn-sm">Eliminar</button>
</form>
