{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pagina no encontrada</h1>

    <p>
        La pagina solicitada no pudo ser encontrada <a href="{{ path('emprendimiento_index') }}">Volver a Inicio</a>.
    </p>
{% endblock %}